.dataTables_filter {
    float: right;
}

.pagination {
    float: right;
}

.feather {
    width: 23px;
    vertical-align: text-bottom;
}

#backgroung-set{
 background-image: url('/frontend/images/login-bg.jpg');

}
/*
   * Sidebar
   */

.sidebar {
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.rightbar {
    /* position: fixed; */
    top: 0;
    bottom: 0;
    /* margin-top: 30px; */
    right: 0;
    z-index: 100;
    /* Behind the navbar */
    /* padding: 48px 0 0; */
    padding: 15px;
    /* Height of navbar */
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.circleimg {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50% !important;
    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
    margin-left: auto;
    margin-right: auto;
    display: inline-block !important;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    padding-right: 0px;
    font-weight: 500;
    color: #999;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #242529;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.l-header__menu {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding: 16px 8px;
}

.nav-link {
    display: block;
    padding: 1rem 0rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a.nav-link {
    font-size: 19px;
    line-height: 24px;
    font-weight: 500;
    margin-left: 21px;
}

.avatar {
    margin-left: 16px;
}

input,
textarea {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    color: inherit;
    position: relative;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
    transition: all 0.3s ease;
    width: 100%;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /* border-bottom: 1px solid #d32f2f !important; */
    outline-width: 0;
    font-weight: 400;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.card {
    border-radius: 0;
    border: none;
    position: relative;
}

.card1 {
    width: 50%;
}

.card2 {
    width: 50%;
    height: 700px;
    background-color: #e8eaf6;
}

#image {
    width: 80%;
    height: 300px;
    margin: auto;
}

#logo {
    position: absolute;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 0;
    transition: all 300ms;
    opacity: 0.5;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.btn-gray {
    border-radius: 50px;
    color: #fff;
    background-color: #bdbdbd;
    padding: 8px 40px;
}

.btn-gray:hover {
    color: #fff;
    background-color: #d32f2f;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

#google {
    width: 20px;
    height: 20px;
}

.bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.sm-text {
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    .card1 {
        width: 100%;
        padding: 10px 30px;
    }
    .bottom {
        position: relative;
    }
    .card2 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important;
    }
    .card2 {
        height: 400px;
    }
}
@media screen and (max-width: 767px) {
  .mobcenter {
    text-align: center;
   
  }
}
@media screen and (max-width: 767px) {
  .mobresponsive {
    margin-left: 32% !important;
   
  }
}
@media screen and (max-width: 767px) {
  .mobileresponse {
    margin-left: 18% !important;
   
  }
}
.login_body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
}

.side_image {
    width: 100% !important;
    height: 100% !important;
}

.sidebar_img {
    width: 50px !important;
    height: 50px !important;
}

.newrich_logo {
     width: 225px !important;
    height: 61px !important;
}

.result_subtitle .nav-pills .nav-link.active {
    color: #007bff;
    background-color: inherit;
    border-bottom: 1px solid #007bff;
}

.result_subtitle .nav-pills .nav-link {
    border-radius: 0px;
    padding: 1px !important;
}

.custom_box {
    /* padding: 12px 10px; */
    border: 0.0625em solid #d4dbe0;
    background: #fff;
    display: block;
    /* padding: 2rem; */
}

.pad {
    padding: 2rem;
}

.box_title {
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, #62bc33 0%, #8bd331 100%);
    padding: 10px;
    text-align: center;
    color: white;
}

.above-price {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0;
}

.amount {
    font-family: gd-sage, "Times", "Times New Roman", serif;
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
    white-space: nowrap;
}

.term {
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    font-size: clamp(1rem, 0.4549rem + 0.8791vw, 22.4px);
    line-height: 1.1;
    font-weight: 500;
}

.button-three {
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    /* margin: 0 0 0 100px; */
    color: white;
}

.button-three {
    position: relative;
    background-color: #f39c12;
    border: none;
    padding: 10px;
    width: 89%;
    margin: 12px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button-three:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #97b1bf;
    color: #000;
}

.button-three:after {
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
.justify-content-center{
    padding: 14px !important;
}